@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "tailwindcss";

/* THEME CONFIGURATION
   Tailwind v4 detects these variables and automatically creates 
   utility classes like 'text-golden-1', 'text-golden-2', etc.
*/
@theme {
    /* Golden Ratio Scale (Base: 1rem) */
    --text-golden-1: 1rem;
    /* Body Text (approx 16px) */
    --text-golden-2: 1.618rem;
    /* Subheadings (approx 26px) */
    --text-golden-3: 2.618rem;
    /* Main Headings (approx 42px) */
}

:root {
    --brand-blue: #0061FE;
    --brand-dark: #1E1919;
    --brand-cream: #F7F5F2;
    --brand-orange: #9B0032;
    --brand-yellow: #FA5D00;
}

@layer base {

    html,
    body {
        cursor: url('/cursor.png'), auto !important;
        font-family: "Google Sans Flex", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "slnt" 0,
            "wdth" 100,
            "GRAD" 0,
            "ROND" 0;
    }

    a,
    button,
    [role="button"],
    input[type="submit"],
    input[type="button"],
    label {
        cursor: url('/hover-cursor.png'), pointer !important;
    }

    /* HEADINGS: Applying the new Golden Ratio sizes */
    h1 {
        @apply text-golden-3 font-bold mb-4 leading-tight;
    }

    h2 {
        /* Scales from golden-2 on mobile to golden-3 on desktop */
        @apply text-golden-2 md:text-golden-3 font-bold mb-3 leading-tight;
    }

    h3 {
        @apply text-golden-2 font-bold mb-3 leading-snug;
    }

    h4 {
        @apply text-golden-1 md:text-golden-2 font-bold mb-2;
    }

    h5,
    h6 {
        @apply text-golden-1 font-bold mb-2;
    }


}

@layer utilities {
    .bg-brand-blue {
        background-color: var(--brand-blue);
    }

    .text-brand-blue {
        color: var(--brand-blue);
    }

    .bg-brand-dark {
        background-color: var(--brand-dark);
    }

    .text-brand-dark {
        color: var(--brand-dark);
    }

    .bg-brand-cream {
        background-color: var(--brand-cream);
    }

    .text-brand-cream {
        color: var(--brand-cream);
    }

    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: var(--brand-cream);
    }

    ::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #94a3b8;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}